<div class="container">
	<h1>Welcome: <%=@user.name%></h1>
	<form class="form-inline" action="/secrets" method="post">
		<div class="form-group">
			Make a New Secret: <br>
			<input class="form-control" type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
			<textarea class="form-control" name="secret[conten]" rows="5" cols="35"></textarea><br>
			<input class="form-control" type="hidden" name="secret[user_id]" value="<%= @user.id %>">
		</div>
		<br>
		<br>
		<button type="submit" class="btn btn-success">
			<i class="fa fa-plus-circle fa-lg"></i> Create secret
		</button>
		
	</form>
	<div class="secrets_likeds">
		<table class="table">
			<thead>
				<th>Your Secrets:</th>
				<th></th>
				<th></th>
			</thead>

			<% @secrets.each do |s|%>
				<tbody>
					<tr>
						<td><%=s.conten%></td>
						<td> <%=s.likes.count%> likes </td>
						<td>
							<button type="submit" class="btn btn-danger">
    							<i class="fa fa-trash fa-lg"></i> Delete
							</button>
						</td>
					</tr>
				</tbody>
			<%end%>
		</table>
	</div>

	<div class="secrets_likeds">
		<table class="table table-hover">
			<thead>
				<th>Secrets you Liked:	</th>
				<th></th>
			</thead>
			<% @liked.each do |d|%>
				<tbody>
					<tr>
					<td><%=d.conten%></td>
					<td><%= d.likes.count %> likes </td>
					</tr>

				</tbody>
			<%end%>
		</table>
	</div>
</div>