<!DOCTYPE html>
<html>
<head>
  <title>My Secrets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1   id="title">My Secrets</h1>>
    </div>
    <ul class="nav navbar-nav">
      <% unless current_user %>
      <% else %>
        <li><a href="/secrets">Shared Secrets</a></li>
        <li class="active"><a href="/users/<%= current_user.id %>">Your Secrets</a></li>
        <li><a href="/users/<%= current_user.id %>/edit">Update Profile</a></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% unless current_user %>
        <li><a href="/users/new"><span class="fa fa-user fa-2x"></span> Sign Up</a></li>
        <li><a href="/sessions/new"><span class="fa fa-sign-in fa-2x"></span> Log In</a></li>
     <% else %>
        <li><a href= "/sessions/<%= current_user.id %>" data-method='delete'><span class="fa fa-sign-out fa-2x"></span>Log Out</a> 
      <% end %>
    </ul>

  </div>
</nav>



<% if flash[:message]%>
  <%= flash[:message]%>
<% end %>


<%= yield %>
</div>
</body>
</html>
